[Unit]
Description=Consul Agent
After=network-online.target
Requires=network-online.target

[Service]
User={{ consul_agent_user }}
Group={{ consul_agent_group }}
ExecStart={{ consul_agent_bin }} {{ consul_agent_opts }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=INT

[Install]
WantedBy=multi-user.target
